html {
  interpolate-size: allow-keywords;
}

.workspaceui {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  details {
    background-color: #00000033;
    width: 100%;
    border-radius: 0.5rem;

    summary {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      padding: 0.5rem 0;
      cursor: pointer;

      .marker {
        transition: transform 0.25s ease-in-out;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      margin-top: 0.5rem;
      padding: 0.5rem;

      input,
      textarea {
        width: 100%;
        padding: 0.4rem;
        border-radius: 0.2rem;
        resize: none;
      }

      .buttons {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        svg {
          width: 2rem;
          height: 2rem;
        }
      }
    }
  }
  .workspace-add[open] {
    .marker {
      transform: rotate(90deg);
    }
  }
  .project-add[open] {
    .marker {
      transform: rotate(90deg);
    }
  }

  .workspace-entry {
    background-color: #00000033;
    justify-items: center;
    width: 100%;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;

    .workspace-header {
      display: flex;
      cursor: pointer;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 0.3rem;

      .marker {
        width: 1.2rem;
        stroke-width: 0.1rem;
        transform: rotate(-45deg);
        transition: transform 0.25s ease-in-out;
      }

      .workspace-edit-btn {
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    .project-entry {
      background-color: #00000033;
      width: 100%;
      padding: 1rem 0.5rem;
      border-radius: 0.5rem;
      margin: 0.5rem 0;
    }
    .project-entry + .project-entry {
    }

    .project-add {
      width: 100%;
      margin-top: 1rem;
      .project-add-header {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;
      }
    }
  }
  .workspace-entry[open] {
    .workspace-header {
      .marker {
        transform: rotate(0deg);
      }
    }
  }
}

.workspace-entry::details-content,
.workspace-add::details-content,
.project-add::details-content {
  height: 0;
  overflow: hidden;
  transition:
    height 0.25s ease-in-out,
    content-visibility 0.25s allow-discrete;
}
.workspace-entry[open]::details-content,
.workspace-add[open]::details-content,
.project-add[open]::details-content {
  height: auto;
}
