html {
  interpolate-size: allow-keywords;
}

.workspaceui {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  .ws-new-btn {
    .icon {
      width: 1.2rem;
    }
  }

  .ws-entry {
    background-color: #00000033;
    justify-items: center;
    width: 100%;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;

    .ws-header {
      display: flex;
      cursor: pointer;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 0.3rem;

      .marker {
        width: 1.2rem;
        stroke-width: 0.1rem;
        transform: rotate(-45deg);
        transition: transform 0.25s ease-in;
      }

      .ws-edit-btn {
        width: 1.4rem;
        height: 1.4rem;

        .icon {
          width: 100%;
          height: 100%;
        }
      }
    }

    .proj-entry {
      background-color: #00000033;
      width: 100%;
      padding: 1rem 0.5rem;
    }
    .proj-entry:first-of-type {
      border-radius: 0.5rem 0.5rem 0 0;
    }
    .proj-entry:last-of-type {
      border-radius: 0 0 0.5rem 0.5rem;
    }
    .proj-entry:only-of-type {
      border-radius: 0.5rem;
    }
  }
  .ws-entry::details-content {
    height: 0;
    overflow: hidden;
    transition:
      height 0.25s ease-in,
      content-visibility 0.25s allow-discrete;
  }
  .ws-entry[open] {
    .ws-header {
      .marker {
        transform: rotate(0deg);
      }
    }
  }
  .ws-entry[open]::details-content {
    height: auto;
  }
}
