@font-face {
  font-family: Nunito;
  src:
    url(./assets/fonts/Nunito.woff2) format(woff2),
    url(./assets/fonts/Nunito.woff) format(woff);
}

:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
  --red: #8a1c00;

  --sans: Nunito, system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: Nunito, system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  --fs-sm: clamp(0.8rem, 0.31vi + 0.72rem, 1.09rem);
  --fs-base: clamp(1rem, 0.39vi + 0.9rem, 1.38rem);
  --fs-md: clamp(1.25rem, 0.51vi + 1.12rem, 1.73rem);
  --fs-lg: clamp(1.56rem, 0.65vi + 1.4rem, 2.18rem);
  --fs-xl: clamp(1.95rem, 0.84vi + 1.74rem, 2.75rem);
  --fs-xxl: clamp(2.44rem, 1.08vi + 2.17rem, 3.47rem);
  --fs-xxxl: clamp(3.05rem, 1.38vi + 2.71rem, 4.37rem);

  font: 16px var(--sans);
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 14px;
  }
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-size: var(--fs-base);
}

#root {
  position: relative;
  width: 100dvw;
  height: 100dvh;
}

body {
  margin: 0;
}

button {
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  border-radius: 0.3rem;
}
